
log4j.path ${lib}/log4j-1.2.15.jar

jarjar.path ${lib}/jarjar-1.0rc8.jar

asm-core.path ${lib}/asm-3.1.jar

asm-commons.path ${lib}/asm-commons-3.1.jar

asm-util.path ${lib}/asm-util-3.1.jar

asm-tree.path ${lib}/asm-tree-3.1.jar

asm-analysis.path ${lib}/asm-analysis-3.1.jar

asm.classpath.notree ${asm-core.path}:${asm-commons.path}:${asm-util.path}

asm.classpath ${asm.classpath.notree}:${asm-tree.path}:${asm-analysis.path}

java14.home ${user.home}/jdk1.4

java15.home ${user.home}/jdk1.5

java16.home ${user.home}/jdk1.6

install.path ${user.home}/siegebrk-install
